.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 35vh 35vh;
    column-gap: 1em;
    width: 100%;
    font-size: 15px; 
}

div.header-card h4{
    padding: 15px 15px 5px;
    color: hsl(234, 12%, 34%); 
}

div.body-content{
    padding: 10px 0 0 15px;
    color: hsl(234, 13%, 69%); 
    font-size: 13px;
}

.card-supervisor{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #fff;
    border-top: 5px solid  hsl(180, 62%, 55%);
    height: 30vh;
    width: 300px;
    margin-top: 100px;
    -moz-box-shadow: 1px 2px 20px   hsl(240, 15%, 74%);
    -webkit-box-shadow: 1px 2px 20px  hsl(240, 15%, 74%);
    box-shadow: 1px 2px 20px hsl(240, 15%, 74%);
    border-radius: 5px;
}

.card-header{
    padding: 30px;
}

.card-team{
    background-color: #fff;
    border-top: 5px solid hsl(0, 78%, 62%);
    grid-column: 3/4;
    margin-top: 40px;
    height: 30vh;
    width: 300px;
    -moz-box-shadow: 1px 2px 20px  hsl(240, 15%, 74%);
    -webkit-box-shadow: 1px 2px 20px  hsl(240, 15%, 74%);
    box-shadow: 1px 2px 20px  hsl(240, 15%, 74%);
    border-radius: 5px;
}

.card-karma{
    grid-column: 3/3;
    background-color: #fff;
    border-top: 5px solid  hsl(34, 97%, 64%);
    height: 30vh;
    width: 300px;
    margin-top: 2em;
    -moz-box-shadow: 1px 2px 20px  hsl(240, 15%, 74%);
    -webkit-box-shadow: 1px 2px 20px  hsl(240, 15%, 74%);
    box-shadow: 1px 2px 20px  hsl(240, 15%, 74%);
    border-radius: 5px;
}

.card-calculator{
    grid-column: 4/4;
    grid-row: 1/2;
    background-color: #fff;
    border-top: 5px solid hsl(212, 86%, 64%);
    height: 30vh;
    width: 300px;
    margin-top: 100px;
    -moz-box-shadow: 1px 2px 20px   hsl(240, 15%, 74%);
    -webkit-box-shadow: 1px 2px 20px   hsl(240, 15%, 74%);
    box-shadow: 1px 2px 20px  hsl(240, 15%, 74%);
    border-radius: 5px;
}

div.img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 20px;
    margin-top: 20px;
   
}

.image{
    width: 15%;
}



