    @media only screen and (max-width:568px){
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        header{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .p-header{
            padding:0px;
        }

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card-supervisor{
            height:  250px;
            margin-top: 30px;
        }
        
        .card-team{
            height:  250px;

        }

        .card-karma{
            height:  250px;


        }
        .card-calculator{
            height:  250px;
            margin-top: 30px;
        }


    }

    @media only screen and (max-width: 789px){
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        header{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .p-header{
            padding:0px;
        }

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .card-supervisor{
            height: 200px;
            margin-top: 30px;
        }
        
        .card-team{
            height: 200px;

        }

        .card-karma{
            height: 200px;


        }
        .card-calculator{
            height: 200px;
            margin-top: 30px;
        }
    }

    @media only screen and (max-width: 998px){
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        header{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .p-header{
            padding:0px;
        }

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .card-supervisor{
            height: 200px;
            margin-top: 30px;
        }
        
        .card-team{
            height: 200px;

        }

        .card-karma{
            height: 200px;


        }
        .card-calculator{
            height: 200px;
            margin-top: 30px;
        }
    
    }

    @media only screen and (max-width: 1024px){
        
        .p-header{
            padding:0px;
        }

        body{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        header{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .p-header{
            padding:0px;
        }

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .card-supervisor{
            height: 200px;
        }
        
        .card-team{
            height: 200px;

        }

        .card-karma{
            height: 200px;


        }
        .card-calculator{
            height: 200px;
            margin-top: 30px;
        }
        
    }

